@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Kumbh+Sans:wght@100..900&display=swap');

body {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(221, 100%, 96%);
    flex-direction: column;
    height: 100vh;
}

main {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 110vh;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
    width: 100vw;

}

.your-result {
    border-radius: 0 0 2rem 2rem;
    text-align: center;
    height: 49%;
    width: 100%;
    background: linear-gradient(to bottom, hsla(252, 100%, 67%, 1), hsla(241, 81%, 54%, 1)) !important;
}

.circle {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto 40px;
    flex-direction: column;
    text-align: center;
    width: 90px;
    padding: 40px;
    height: 90px;
}

#heading {
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    color: hsl(221, 100%, 96%);
    font-weight: 500;
    padding: 10px;
}

.seventy {
    font-size: 72px;
    line-height: 72px;
    color: white;
    font-family: 'Hanken Grotesk', sans-serif;
}

.hundred {
    color: hsl(241, 100%, 89%);
    margin-top: 7px;
    font-size: 16px;
    font-family: 'Hanken Grotesk', sans-serif;

}

#great {
    margin: -20px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    color: white;
}

#paragraph {
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
    padding: 0 20% 0 20%;
    font-family: 'Hanken Grotesk', sans-serif;
    color: hsl(241, 100%, 89%);

}

.second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;

}

.summary {
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
    color: black;
    display: flex;
    font-weight: 500;
    padding: 10px;
    font-weight: 700;
    margin-right: 310px;
}

.box {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-top: 5px;
    border-radius: 10px;

    font-family: 'Hanken Grotesk', sans-serif;
}

#Reaction {
    color: hsl(0, 100%, 67%, 1);
    width: 100%;
    height: 20px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    background-color: hsl(0, 100%, 67%, 0.05);
    padding: 20px;
    align-items: center;
}

#memory {
    color: hsl(39, 100%, 56%, 1);
    background-color: hsl(39, 100%, 56%, 0.05);
    width: 100%;
    height: 20px;
    font-size: 20px;
    font-weight: 700;

    padding: 20px;
    align-items: center;
    display: flex;
}

#verbal {
    color: hsl(166, 100%, 37%);
    width: 100%;
    height: 20px;
    font-size: 20px;
    font-weight: 700;
    background-color: hsl(166, 100%, 37%, 0.05);
    padding: 20px;
    align-items: center;
    display: flex;
}

#visual {
    color: hsl(234, 85%, 45%);
    width: 100%;
    font-size: 20px;
    font-weight: 700;

    height: 20px;
    background-color: hsl(234, 85%, 45%, 0.05);
    padding: 20px;
    align-items: center;
    display: flex;
}

.inline {
    margin-left: auto;
    margin-right: -5px;
    font-size: 18px;
    font-weight: 700;
    color: hsl(224, 30%, 27%, 0.6);
}

.outline-one {
    margin-left: auto;
    margin-right: -48%;
    color: black;
}

.outline-two {
    margin-left: auto;
    margin-right: -48%;
    color: black;
}

.outline-three {
    margin-left: auto;
    margin-right: -54%;
    color: black;
}

.outline-four {
    margin-left: auto;
    margin-right: -54%;
    color: black;
}



button {
    color: white;
    background-color: hsl(224, 30%, 27%);
    width: 110%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    margin-top: px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;

}

button:hover {
    background: linear-gradient(to bottom, hsla(252, 100%, 67%, 1), hsla(241, 81%, 54%, 1));
}

img {
    padding-right: 10px;
    margin-left: -4px;
}
